
.ser-section {
    background: linear-gradient(to right,  black, #8b0000);
    color: rgb(255, 255, 255);
    padding: 80px 20px;
    text-align: center;
}
.ser-section h2 {
    font-size: 36px;
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
  }
.services-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80vh;
    padding: 20px;
    color: white;
}

.services-menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.service-btn {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.service-btn:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.3);
}

.service-content {
    flex-grow: 1;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-left: 20px;
    text-align: justify;
}
.service-content p{
    font-family: "Cinzel", serif;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
    
}
.service-content img {
    width: 80%;
    height: 80%;
    object-fit: contain;
   position: absolute;
   padding: 2px;
    
}
/*.ser-section img {
    width: 90%;
    height: 90%;
    object-fit: center;
   position: absolute;
   padding: 5px;
    
}*/

.down-barra {
    background: linear-gradient(to right, #8b0000, black,  #8b0000);
        font-family: "Permanent Marker", serif;
        font-weight: 400;
        font-style: normal;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 14px;
}

#contacto {
    background: linear-gradient(to bottom, #400000, #200000); /* Fondo degradado */
    padding: 50px;
    text-align: center;
    color: white;
}

.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Botón de Instagram */
.btn-instagram {
    display: inline-block;
    background: linear-gradient(45deg, #ff0078, #ff5500);
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.3s;
}

.btn-instagram:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 85, 0, 0.8);
}

/* Información del correo */
.correo-info {
    background: rgba(156, 0, 0, 0.705);
     background: linear-gradient(to bottom, #400000, #200000); /* Fondo degradado */
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
}

.correo-info span {
    font-weight: bold;
    color: #ff5500;
}